# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
dist/
build/
.eggs/
*.egg-info/
.pytest_cache/
.coverage*
htmlcov/

# Jupyter
.ipynb_checkpoints
*.ipynb

# OS
.DS_Store
Thumbs.db

# Tools
.mypy_cache/
.pyright/
.cache/
logs/
*.log
.env
.env.*
.envrc
